.button {
  cursor: pointer;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.13em;
  padding: 16px 18px;
  border: none;
  color: $basic-red;
  background-color: white;
  border: 1px solid $basic-red;
  box-sizing: border-box;

  &:hover {
    background-color: $basic-red;
    color: white;
  }

  &--active {
    background-color: $basic-red;
    color: white;

    &:hover {
      background-color: $special-red;

    }
  }

  &--tab {
    text-transform: none;
    font-size: 20px;
    padding-top: 13px;
    padding-bottom: 12px;
    padding-left: 17px;
    width: 195px;
    box-sizing: border-box;
    letter-spacing: 0.03em;
    margin-left: -1px;
    border-color:rgba(0, 0, 0, 0.3);
  }

  &--reply {
    border: none;
    text-transform: none;
    letter-spacing: 0.03em;
    font-size: 16px;
    margin-left: 8px;
  }
}