.main-info {
  margin-left: 6px;
}

.main-info__features {
  margin-top: 15px;
  margin-bottom: 110px;
}

.main-info__reviews {
  margin-top: 17px;
  margin-bottom: 137px;
}

.main-info__address {
  margin-top: 25px;
  margin-bottom: 110px;
}