.navigation {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  color: $basic-black;
  flex-wrap: wrap;

  &--header {
    margin-right: 10px;
  }

  &--footer {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
    max-width: 1170px;
  }

  @media (min-width: 1024px) {
    justify-content: start;
  }
}
  
.navigation__link {
  color: $basic-black;
  text-decoration: none;
  margin-left: 73px;

  &--footer {
    margin-left: 0;
    margin-right: 64px;
    font-size: 17px;
  }
}

.navigation__item:last-of-type .navigation__link--footer {
  margin-right: 0;
}